# Dependencies
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/

# Test reports
mochawesome-report/
cypress/reports/
allure-results/
allure-report/

# Environment / secrets
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/